<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!-- login logout register servlets -->

    <servlet>
        <display-name>RegisterServlet</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>logout</display-name>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


    <!-- staff servlets -->
    <servlet>
        <servlet-name>staffmodel</servlet-name>
        <servlet-class>servlets.staff.ConstructorModel</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>staffmodel</servlet-name>
        <url-pattern>/staff/staffmodel</url-pattern>
    </servlet-mapping>

    <!-- Admin servlets -->
    <servlet>
        <display-name>deleteUser</display-name>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>servlets.admin.DeleteUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/admin/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>editUser</display-name>
        <servlet-name>editUser</servlet-name>
        <servlet-class>servlets.admin.EditUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/admin/editUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>addUser</display-name>
        <servlet-name>addUser</servlet-name>
        <servlet-class>servlets.admin.AddUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/admin/addUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>servlets.admin.MainAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>



    <!-- users servlets -->

    <servlet>
        <servlet-name>model</servlet-name>
        <servlet-class>servlets.user.ConstructorModel</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>model</servlet-name>
        <url-pattern>/user/Constructor/model</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>engine</servlet-name>
        <servlet-class>servlets.user.ConstuctorEngine</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>engine</servlet-name>
        <url-pattern>/user/Constructor/engine</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>kindOfBody</display-name>
        <servlet-name>kindOfBody</servlet-name>
        <servlet-class>servlets.user.ConstructorBody</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>kindOfBody</servlet-name>
        <url-pattern>/user/Constructor/kindOfBody</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>transmission</display-name>
        <servlet-name>transmission</servlet-name>
        <servlet-class>servlets.user.ConstructorTransmission</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>transmission</servlet-name>
        <url-pattern>/user/Constructor/transmission</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>color</display-name>
        <servlet-name>color</servlet-name>
        <servlet-class>servlets.user.ConstructorColor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>color</servlet-name>
        <url-pattern>/user/Constructor/color</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>result</display-name>
        <servlet-name>result</servlet-name>
        <servlet-class>servlets.user.ConstructorResult</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/user/Constructor/result</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>